@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px; }

html {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }
  html::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none; }

body {
  background-color: #e1e4e1; }

.all-products-btn {
  margin-top: 20px;
  background-color: #5a674d;
  border-radius: 30px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 16px 31px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600; }
  .all-products-btn:hover {
    background-color: #3d3d3d; }
  .all-products-btn:active {
    position: relative;
    top: 1px; }

nav {
  width: 100%;
  height: 50px;
  background: #c9cec3; }

.logo {
  float: left;
  margin: 2px 20px;
  cursor: default; }
  .logo p {
    font-size: 2.3rem;
    font-weight: 600;
    color: #3d3d3d;
    text-transform: uppercase; }

.nav-btns {
  float: right;
  list-style-type: none; }
  .nav-btns li {
    float: left; }
    .nav-btns li a,
    .nav-btns li i {
      cursor: pointer;
      padding: 15px 10px;
      text-decoration: none; }

.nav-btns li i:hover,
i:active {
  color: #5a674d;
  font-size: 1.4rem; }

.nav-btns li a:link,
a:visited {
  color: #3d3d3d; }

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25vh;
  background-color: #c9cec3;
  text-transform: uppercase; }

.footer-content {
  width: 50%;
  margin-top: 40px; }

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #3d3d3d; }
  .footer-logo h3 {
    font-size: 2.5rem; }

.socials {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  width: 100%;
  margin-top: 40px; }
  .socials li {
    margin: 0 10px; }

.socials li i:hover,
i:active {
  color: #5a674d; }

.socials li a:link,
a:visited {
  color: #3d3d3d; }

.adminPage {
  display: none;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  background-color: #e1e4e1; }

.checkIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%; }

.header-admin {
  color: #3d3d3d;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif; }

.admin-line {
  color: #5a674d;
  border: 1px solid #3d3d3d;
  width: 80px;
  margin-bottom: 10px; }

.adminTxt {
  color: #3d3d3d;
  font-weight: 600;
  margin-bottom: 50px; }

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.loginForm button, .loginForm input {
  margin-top: 20px;
  width: 60%;
  font-size: 1.2rem;
  border-radius: 20px;
  border: 1px solid #e1e4e1;
  padding: 7px 7px 7px 15px; }

.login {
  background-color: #5a674d;
  color: #ffffff; }

#forget {
  border: none;
  font-size: 0.7rem;
  background-color: #e1e4e1;
  text-align: right;
  margin-top: 5px;
  color: #3d3d3d; }

.adminPic {
  background: linear-gradient(rgba(90, 103, 77, 0.85), rgba(90, 103, 77, 0.85)), url("https://images.unsplash.com/photo-1493020258366-be3ead1b3027?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2680&q=80") center center no-repeat;
  background-size: cover;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.header-admin2 {
  color: #ffffff;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif; }

.adminPage-2 {
  background-image: url(https://images.unsplash.com/photo-1477554193778-9562c28588c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center; }

.create-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1e4e1;
  height: 90%;
  width: 90%;
  padding: 10px; }

.img-div {
  width: 50%;
  height: 100%; }

.imgHold {
  width: 60%;
  height: 60%;
  border: 1px solid #3d3d3d;
  margin: 50px auto 0 auto;
  background-position: center;
  background-repeat: no-repeat; }

.logOut {
  margin-bottom: 50px;
  background-color: #e1e4e1;
  border: none;
  border-bottom: 1px solid #3d3d3d;
  color: #3d3d3d; }

.createProd {
  width: 45%;
  min-height: 50%;
  background-color: #ffffff;
  padding: 20px; }

.addProd {
  font-size: 1.2rem;
  margin-bottom: 20px; }

.prodInfo {
  display: flex;
  flex-direction: column;
  color: #3d3d3d;
  border-left: 1px solid #3d3d3d;
  padding-left: 15px; }

.prodInfo input {
  border: none;
  border-bottom: 1px solid #3d3d3d;
  margin-bottom: 5px;
  color: #3d3d3d;
  padding: 5px; }

.admin-buttons {
  display: flex;
  margin-top: 10px; }

.admin-buttons button {
  border-radius: 10px;
  padding: 7px;
  margin: 3px;
  border: none;
  background-color: #ffffff; }

.admin-buttons button:hover {
  background-color: #5a674d;
  color: #ffffff; }

/************************** HEADER **************************/
header {
  position: relative;
  /* establish nearest positioned ancestor for
    absolute positioning */
  text-transform: uppercase;
  width: 100vw;
  height: 100vh; }

.bg-image {
  background-image: url(https://images.unsplash.com/photo-1477554193778-9562c28588c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  width: 120%;
  height: 95%;
  margin-left: -20%; }

.header-content {
  position: absolute;
  left: 50%;
  /* horizontal alignment */
  top: 45%;
  /* vertical alignment */
  transform: translate(-50%, -50%);
  /* precise centering */
  text-align: center;
  cursor: default; }
  .header-content h1 {
    font-size: 7rem;
    font-weight: 600; }
  .header-content h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #3d3d3d; }
  .header-content hr {
    border-bottom: 7px solid #5a674d;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    width: 70px;
    margin: auto;
    margin-top: 10px; }

/************************* END HEADER **************************/
/************************* MAIN ********************************/
main {
  text-align: center; }

.newest {
  width: 100%;
  height: 18vh; }
  .newest h2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500; }
  .newest p {
    margin-top: 20px; }
  .newest hr {
    border-bottom: 5px solid #5a674d;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    width: 110px;
    margin: auto; }

/**Products**/
.newest-products {
  height: 90vh;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex; }
  .newest-products > div {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .newest-products .product {
    padding: 10px; }
    .newest-products .product > div {
      height: 70%; }
    .newest-products .product .image {
      background: #5a674d;
      /*IMAGE*/ }
    .newest-products .product .content {
      box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
      background: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 30%;
      padding-top: 20px; }
      .newest-products .product .content p {
        line-height: 1.4rem; }
      .newest-products .product .content .price {
        color: #5a674d;
        font-weight: 600;
        font-size: 0.8rem; }
      .newest-products .product .content .product-name {
        font-weight: 600; }
      .newest-products .product .content .description {
        color: #919191;
        font-size: 0.8rem; }
  .newest-products > div:first-of-type .product {
    width: 50%; }
  .newest-products > div:last-of-type .product {
    width: 100%; }
    .newest-products > div:last-of-type .product .content {
      padding-top: 50px; }
      .newest-products > div:last-of-type .product .content p {
        line-height: 1.5rem; }
      .newest-products > div:last-of-type .product .content .product-name {
        font-weight: 600;
        font-size: 2.2vh; }
      .newest-products > div:last-of-type .product .content .description {
        color: #919191; }

.about-container {
  background-color: #ffffff;
  width: 100%;
  height: 70vh;
  margin-top: 100px;
  margin-bottom: 100px;
  overflow: hidden; }
  .about-container .left {
    background: url(https://images.unsplash.com/photo-1613375762302-670aee309a25?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    float: left; }
  .about-container .right {
    width: 50%;
    height: 100%;
    margin-top: 40px;
    float: right;
    padding-right: 50px; }
    .about-container .right h3 {
      text-transform: uppercase;
      font-size: 2rem; }
    .about-container .right hr {
      border-bottom: 5px solid #5a674d;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      width: 80px;
      margin: auto;
      margin-bottom: 20px; }
    .about-container .right .txt-container {
      width: 600px;
      height: fit-content;
      text-align: justify;
      line-height: 2rem;
      margin: auto; }

/************************* MAIN END ****************************/
