nav {
	width: 100vw;
	height: 50px;
	background: $navbar-color;
}

.logo {
	float: left;
	margin: 2px 20px;
	cursor: default;
	a {
		text-decoration: none;
	}
	p {
		font-size: 2.3rem;
		font-weight: $bold;
		color: $logo-color;
		text-transform: uppercase;
		@include phoneS {
			font-size: 1.7rem;
			margin-top: 7px;
		}
		@include phoneL {
			font-size: 2.3rem;
			margin-top: 0px;
		}
	}
}

.nav-btns {
	float: right;
	list-style-type: none;
	li {
		float: left;

		a,
		i {
			cursor: pointer;
			padding: 15px 10px;
			text-decoration: none;
		}
	}
}
.nav-btns li i:hover,
i:active {
	color: $icon-hover-color;
}
.nav-btns li a:link,
a:visited {
	color: $icon-color;
}
