.allPlantsBtn {
	margin-top: 20px;
	background-color: $button-color;
	border-radius: 30px;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: $white;
	padding: 16px 31px;
	text-decoration: none;
    text-transform: uppercase;
	font-weight: $bold;
	&:hover {
		background-color: $button-hover-color;
	}
	&:active {
		position: relative;
		top: 1px;
	}
}

.productWishBtn {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
	background: none;
	border: none;
	color: $red;
	transform: scale(1.2);
	&:hover {
		// background-image: url(../../images/);
		// background-position: center;
		// background-repeat: no-repeat;
		cursor: pointer;
	}
}

.productCartBtn {
	position: absolute;
	right: 0;
	margin: 20px;
	bottom: 15px;
	background: none;
	border: none;
	&:hover {
		color: $green;
		cursor: pointer;
	}
}