/************************** HEADER **************************/
.indexHeader {
	position: relative;
	text-transform: uppercase;
	width: 100vw;
	height: 50vh;
	margin-bottom: 20px;
	@include tablet {
		height: 80vh;
	}
	@include laptop {
		height: 100vh;
	}
}

.bg-image {
	background-image: url(https://images.unsplash.com/photo-1477554193778-9562c28588c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 50vh;
	margin-left: 0;
	@include tablet {
		height: 80vh;
	}
	@include laptop {
		width: 120%;
		height: 95%;
		margin-left: -20%;
	}
}

.header-content {
	position: absolute;
	left: 50%; /* horizontal alignment */
	top: 50%; /* vertical alignment */
	transform: translate(-50%, -50%); /* precise centering */
	text-align: center;
	cursor: default;

	h1 {
		width: 100vw;
		font-size: 5rem;
		font-weight: $bold;
		@include gradient(bottom, $logoGradient);
		background-clip: text;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-webkit-text-fill-color: transparent; 
		-moz-text-fill-color: transparent;
		-webkit-text-stroke-width: 0.5px;
		-webkit-text-stroke-color: $black;
				
		@include laptop {
			font-size: 6.5rem;
		}
		@include desktop {
			font-size: 7rem;
		}
	}

	h2 {
		color: $white;
		font-size: 1.8rem;
		-webkit-text-stroke-width: 0.1px;
		-webkit-text-stroke-color: $black;
		@include phoneL {
			font-size: 2rem;
			font-weight: $regular;
		}
	}
	hr {
		border-bottom: 7px solid $line-color;
		border-top: 0;
		border-right: 0;
		border-left: 0;
		width: 70px;
		margin: auto;
		margin-top: 10px;
	}
	@include phoneL {
		left: 50%; /* horizontal alignment */
		top: 50%; /* vertical alignment */
		transform: translate(-50%, -50%); /* precise centering */
	}
}
/************************* END HEADER **************************/

/************************* MAIN ********************************/
.indexMain {
	text-align: center;
	@include laptop {
		.plant-bg-image-1 {
			position: absolute;
			background-image: url(../../images/plant2.png);
			background-repeat: no-repeat;
			width: 100vw;
			height: 100vh;
			z-index: -1;
			opacity: 0.7;
			margin-top: 600px;
			margin-left: -250px;
		}
	}
}

.newest {
	width: 100%;
	height: 15vh;
	h2 {
		text-transform: uppercase;
		font-size: 2rem;
		font-weight: $regular;
		color: $primary-text-color;
	}
	p {
		margin-top: 20px;
	}
	hr {
		border-bottom: 5px solid $line-color;
		border-top: 0;
		border-right: 0;
		border-left: 0;
		width: 110px;
		margin: auto;
	}
}

/**Products**/
.newestProducts {
	width: 90vw;
	height: 100%;
	margin: 50px auto;
	@include laptop {
		overflow: hidden;
		width: 90vw;
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	.indexGrid {
		@include laptop {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			width: 49%;
		}
	}

	.cardBlock {
		@include laptop {
			overflow: hidden;
			width: 49%;
			margin: 20px 0;
		}
	}

	.product {
		position: relative;
		width: 90%;
		height: 50vh;
		margin-bottom: 20px;
		margin: 20px auto;
		@include tablet {
			width: 70%;
		}
		@include laptop {
			// width: 70%;
			width: 48%;
		}
	}
	.image {
		height: 65%;
		background-size: cover;
		background-position: center center;
	}

	.content {
		height: 35%;
		background: $white;
		padding-top: 35px;
		h3,
		p,
		span {
			padding: 3px;
		}
		h3 {
			font-size: 1.3rem;
			color: $primary-text-color;
		}
		p {
			font-size: 0.95rem;
			color: $accent-text-color;
		}
		span {
			font-weight: $bold;
			color: $green;
		}
	}
	.cardBlock .image {
		@include laptop {
			background-image: url(https://images.unsplash.com/photo-1584589167171-541ce45f1eea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
			background-repeat: no-repeat;
			width: 100%;
			height: 74vh;
		}
	}
	
	.cardBlock .content {
		background: none;
		padding: 0;
		@include laptop {
			background-color: $white;
			height: 30vh;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			
		}
		.text{
			display: none;
			@include laptop{
				display: block;
				padding: 0;
			}
		}
	}
}



//ABOUT
.about-container {
	display: flex;
	background-color: $white;
	width: 100%;
	height: 100%;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-bottom: 20px;
	overflow: hidden;
	@include laptop {
		padding-bottom: 0;
	}

	.left {
		display: none;
		@include laptop {
			display: block;
			background: url(https://images.unsplash.com/photo-1613375762302-670aee309a25?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
			background-repeat: no-repeat;
			background-position: center;
			transform: scale(1.15);
			margin-right: 100px;
			width: 50%;
		}
	}
	.right {
		width: 100%;
		height: 100%;
		margin-top: 40px;
		@include laptop {
			width: 50%;
		}

		h3 {
			text-transform: uppercase;
			font-size: 2rem;
		}
		hr {
			border-bottom: 5px solid $line-color;
			border-top: 0;
			border-right: 0;
			border-left: 0;
			width: 80px;
			margin: auto;
			margin-bottom: 20px;
		}
		.txt-container {
			width: 100%;
			height: 100%;
			text-align: justify;
			line-height: 2rem;
			margin: auto;
			padding: 0 20px;
			@include laptop {
				text-align: justify;
				width: 80%;
				padding-bottom: 40px;
			}
		}
	}
}

/************************* MAIN END ****************************/
