//----- Main Section ----//

.main-containner {
  display: flex;
  max-width: 850px;
  margin: auto;
  height: auto;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-color: $white;
}
.inner-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: $medium-green;
}
.logo img {
  display: block;
  width: 20em;
  margin: 5 auto 5 auto;
  align-content: center;
  align-items: center;
  background-color: $medium-green;
  cursor: pointer;
}
.banner-area {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
.banner-area h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.text-area {
  margin-bottom: 30px;
}
.table-section {
  border-collapse: collapse;
  width: 40em auto;
  height: auto;
  background-color: $white;
  padding-bottom: 25px auto;
}
.table-section thead tr {
  border-bottom: 1px solid $mediumgrey;
}
.cart-item-list tr td {
  margin-top: 5px;
  padding-bottom: 5px;
}
.th {
  padding-right: 5%;
}
.tfoot {
  border-top: 1px solid $mediumgrey;
  border-bottom: 1px solid $mediumgrey;
  padding-top: 20px;
}
.text {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
.text p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-logo h3 {
  cursor: pointer;
}
.socials {
  margin-bottom: 20px;
}
.footer-section {
  display: flex;
  max-width: 850px;
  margin: auto;
  height: auto;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
a {
  text-decoration: none;
}
