.productPageHeader {
	position: relative;
	width: 100vw;
	height: 40vh;
	background-color: $darkgrey;
	overflow: hidden; //crops out the blury sides of header image
	margin-bottom: 50px;
	.headerImage {
		background-image: url(https://images.unsplash.com/photo-1530049478161-0780526964f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
		background-size: cover;
		background-repeat: no-repeat;
		opacity: 0.8;
		width: 100vw;
		height: 40vh;
		// filter: blur(2px);
		// transform: scale(1.1);
	}
	h1 {
		/*All products*/
		position: absolute;
		left: 50%; /* horizontal alignment */
		top: 50%; /* vertical alignment */
		transform: translate(-50%, -50%); /* precise centering */
		text-transform: uppercase;
		text-align: center;
		color: $white;
		font-size: 1.9rem;
		letter-spacing: 3px;
        @include tablet{
            font-size: 2.5rem;
        }
        @include desktop{
            font-size: 4rem;
        }
	}
}

.productPageMain {
	margin: auto; // centers container
	width: 90vw;
	height: fit-content;
	padding-bottom: 20px;
	.miniNav {
		//"Home » All products"
        margin: auto;
        width: 80vw;
        font-weight: $bold;
        padding-bottom: 40px;

		a {
			text-decoration: none;
			&:hover {
				color: $darkgrey;
			}
		}
		.allProducts {
			color: $green;
			text-decoration: underline;
		}
	}
    .info{
        width: 80vw;
        text-align: justify;
        margin: auto;
        h2{
            font-size: 1.5rem;
            padding-bottom: 20px;
        }
    }
}

.products {
	text-align: center;
	width: 90vw;
	height: 100%;
	margin: 50px auto;
	@include laptop {
		overflow: hidden;
		width: 90vw;
		display: flex;
		// justify-content: space-between;
		margin-bottom: 20px;
	}

	.grid {
		@include laptop {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			width: 80%;
			margin: auto;
		}
	}

	.product {
		position: relative;
		width: 90%;
		height: 50vh;
		margin-bottom: 20px;
		margin: 20px auto;
		@include tablet {
			width: 60%;
			height: 60vh;
		}
		@include laptop {
			width: 30%;
			height: 55vh;
			margin: 20px 0;

		}
	}
	.image {
		height: 65%;
		background-size: cover;
		background-position: center center;
	}

	.content {
		height: 35%;
		background: $white;
		padding-top: 35px;

		h3,
		p,
		span {
			padding: 3px;
		}
		h3 {
			font-size: 1.3rem;
			color: $primary-text-color;
		}
		p {
			font-size: 0.95rem;
			color: $accent-text-color;
		}
		span {
			font-weight: $bold;
			color: $green;
		}
	}
}















	// .products {
	// 	width: 70vw;
	// 	height: 100%;
	// 	margin: auto;
	// 	overflow: hidden;
	// 	padding-top: 20px;
	// 	// @include laptop {
	// 	// 	overflow: hidden;
	// 	// 	width: 90vw;
	// 	// 	display: flex;
	// 	// 	justify-content: space-between;
	// 	// 	margin-bottom: 20px;
	// }	
	// 	.product {
	// 		position: relative;
	// 		width: 100%;
	// 		height: 100%;
	// 		padding-bottom: 20px;
	// 		margin: auto;
	// 		// @include tablet {
	// 		// 	width: 70%;
	// 		// }
	// 		// @include laptop {
	// 		// 	// width: 70%;
	// 		// 	width: 48%;
	// 		// }
	// 	}
	// 	.image {
	// 		height: 30%;
	// 		background-size: cover;
	// 		background-position: center center;
	// 		background-color: $white;

	// 	}
	
	// 	.content {
	// 		height: 20vh;
	// 		background: $white;
	// 		text-align: center;
	// 		padding-top: 35px;

	// 		h3,
	// 		p,
	// 		span {
	// 			padding: 3px;
	// 		}
	// 		h3 {
	// 			font-size: 1.3rem;
	// 			color: $primary-text-color;
	// 		}
	// 		p {
	// 			font-size: 0.95rem;
	// 			color: $accent-text-color;
	// 		}
	// 		span {
	// 			font-weight: $bold;
	// 			color: $green;
	// 		}
	// 	}

